body {
  font-family: 'Roboto Condensed';
  font-weight: 200;
  margin: 0;
  background-color: #e6e6dc;
  font-size: 17px;
}

.logo{
  float: left;
  margin-top: -25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.innerContent {
  padding: 0 5vw 0 5vw
}
.alignment {
  padding: 20px;
}

.floatleft{
  float: left;
  padding: 20px;
}
.floatright{
  float: right;
  padding: 20px;
}

.header{
  width: 100%;
  
}
.header ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: MediumSeaGreen;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header li {
  list-style-type: none;
  display: inline-block;
  height: 2.75em;
  width: 19.2%;
  float: left;
}
.header li a {
  font-family: 'Roboto Condensed';
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header li a:hover {
  background-color: gray;
}
.text2{
  padding: 20px;
  text-align: left;
	height: 250px;
	overflow: auto;
}
.text3{
  padding: 20px;
  text-align: right;
	height: 250px;
	overflow: auto;
}
.text4{
  padding: 20px;
  text-align: left;
	height: 250px;
	overflow: auto;
}
.text5{
  padding: 20px;
  text-align: right;
	height: 250px;
	overflow: auto;
}
.text1{
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  text-align: right;
  background-image: url("bg-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:whitesmoke;

}
.content{
  padding: 20px;
}
.text1 h1{
  font-size: 100px;
  font-weight: 500;
  line-height: .8;
  padding: 0;
  margin:0;
}
h2{
  font-size: 50px;
  font-weight: 500;
  line-height: .6;
  padding: 0;
  margin:0;
}
.content h1 {
  padding-top: 25px;
}
.content h2 {
  padding-top: 50px;
  
}
h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: .8;
  padding: 0;
  margin:0;
}
.pageTitle {
  padding-left: 25px;
  font-size: 85px;
  font-weight: bolder
}
.leftAlignP {
  padding-left: 25px;
  padding-right: 25px;
}


.dropbtn {
  cursor: pointer;
}

/* nav bar dropdown css */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  width: 17.2%;
  min-width: 160px;
  margin:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#table1 {
  padding: 20px;
  width: 100%;
  margin: 20px;

}
#table1 td, #table1 tr{
  border: none
}
#table2 {
  background-color:rgba(176, 211, 192, 0.7);

  width: 300px;
  height:300px;
  border: 5px solid rgba(176, 211, 192, 0.7);
  margin: 10px;
  

}

#table2 td{
    
    width: 30px;
    vertical-align: top;
    background-color: mediumseagreen;
    border: 5px solid rgba(176, 211, 192, .7);
    color: whitesmoke
    
   
}
#table2 th{
    
    width: 30px;
    background-color: mediumseagreen;
    font-size: 20px;
    border: 5px solid rgba(176, 211, 192, .7);
    color: whitesmoke
   
}

#table2 tr {
  height: 30px;
}

#subForm {
  padding: 2%;
  border: 1px solid black;
  width: 37.5vw;
  float: left;
  line-height: 1.75em;
  margin-right:2.5vw;
}
#prevSub {
  padding: 2%;
  border: 1px solid black;
  width: 37.5vw;
  float: left;
  margin-left:2.5vw;
 }

 .econPrev {
   column-width: 27vw;
 }
 .localPrev {
   background-color: grey;
   width: 35vw;
   margin: 2.5vw;
   padding: 1vw;
   float: left;

 }
 .localPrev h2 {
     font-size: 30px;
     line-height: 1.25em;
   }
.localPrev h3 {
     font-size: 20px;
     margin:0;
     line-height: 1em;
   }

iframe {
  width: 50vw;
  height:calc(50vw * (315/ 560));
  margin:25px 20vw 25px 20vw;
  
}
